.screenshot img {
    width: 30%;
}

.links a {
    width: 10%;
}

.links img {
    width: 100%;
}

.links {
    display: flex;
    justify-content: center;
    /* width: 30%; */
}

.applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screenshot img {
    width: 100%;
}

.launch-pad, .work-day-scheduler, .password-generator, .movie-mania, .calm-calendar, .five-day-weather-forecast, .code-quiz {
    border-style: solid;
    border-color: #00b4d8;
    width: 30%;
}