.screenshot img {
    width: 30%;
}

.deployed-app img {
    width: 10%;
}

.repo img {
    width: 10%;
}

.links {
    display: flex;
    justify-content: center;
    width: 30%;
}

.applications {
    display: inline-block;
}