.screenshot img {
    width: 30%;
}

.links a {
    width: 10%;
}

.links img {
    width: 50%;
}

.links {
    display: flex;
    justify-content: center;
    width: 30%;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.screenshot img {
    width: 100%;
}

.work-day-scheduler, .password-generator, .movie-mania, .calm-calendar, .five-day-weather-forecast, .code-quiz {
    border-style: solid;
    border-color: #ffc8dd;
    width: 30%;
}